version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3032:3000'
      - '5517:5555'
    volumes:
      - ./realDb:/app/realDb
      - ./uploads:/app/uploads
    # command: ["./docker-entrypoint.sh"]
    restart: always